# This is a YAML-formatted file.
# Provides default variables to be passed into your templates.

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

appVersion: main
appEnvrionment: main

images:
  pullPolicy: Always
  drupal:
    name: drupal
    sshname: drupal-ssh
    repository: registry.quant.cloud/org/repo
    tag: latest
    port: 80
    sshport: 22
    storage: 1Gi
    devstorage: 200Mi
    devresources:
      limits:
        cpu: 200m
        memory: 128Mi
      requests:
        cpu: 200m
        memory: 128Mi
    resources:
      limits:
        cpu: 800m
        memory: 816Mi
      requests:
        cpu: 800m
        memory: 816Mi
  redis:
    enabled: true
    name: redis
    repository: redis
    tag: latest
    port: 6379
    devresources:
      limits:
        cpu: 200m
        memory: 128Mi
      requests:
        cpu: 200m
        memory: 128Mi
    resources:
      limits:
        cpu: 200m
        memory: 500Mi
      requests:
        cpu: 200m
        memory: 500Mi
  nextjs:
    enabled: true
    name: nextjs
    repository: nextjs
    tag: latest
    port: 3000
    storage: 1Gi
    devstorage: 200Mi
    config:
      drupal_base:
      image_domain:
    devresources:
      limits:
        cpu: 200m
        memory: 128Mi
      requests:
        cpu: 200m
        memory: 128Mi
    resources:
      limits:
        cpu: 1000m
        memory: 732Mi
      requests:
        cpu: 1000m
        memory: 732Mi


podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  name: drupal
  type: ClusterIP
  port: 80

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# Use this for local deployments only.
# KEI ingress is managed separately.
ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "0.1.0"

# Secrets
# Manage app secrets with kubernetes rather than committing
# in the codebase itself.
secrets:
  registry:
    user:
    token:
    registry: registry.quant.cloud
  database:
    username:
    password:
    database:
    host: example.rds.amazonaws.com
    port: 3306
  smtp:
    host:
    port:
    username:
    password:
    from:
    from_name:
  redis:
    host: localhost
  authorized_keys:
  drupal:
    preview_secret: secret
    revalidate_secret: secret