{{- if eq .Values.productionBranch .Values.images.app.tag }}
apiVersion: v1
kind: Service
metadata:
  annotations:
    "helm.sh/resource-policy": keep
  name: ingress-upstream
  namespace: default
  labels:
    app: ingress-upstream
spec:
    ports:
    - name: 80-80
      port: 80
      protocol: TCP
      targetPort: 80
    selector:
        app: quant-ingress
    sessionAffinity: None
    type: ClusterIP
status:
    loadBalancer: {}
{{- end }}